@import '~bootstrap/scss/bootstrap';
$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;
$index-color: rgb(51, 246, 249);
$border-color: rgb(255, 127, 246);

body {
  background-color: $body-bg-color;
}

.alt-color {
  background-color: $alt-color;
}

.box1 {
  background-color: $index-color;
  border: 10px solid $border-color;
  display: flex;
  height: 150px;
}

.box2 {
  background-color: $secondary;
  border: 10px solid $index-color;
  border-radius: 30px;
  color: $font-color;
  display: block;
  height: 400px;
  justify-content: center;
}


.box4 {
  background-color: $secondary;
  border: 10px solid $index-color;
  border-radius: 30px;
  color: $font-color;
  display: block;
  height: 400px;
  justify-content: center;
}

.box5 {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 100px;
  justify-content: center;
}

.box6 {
  background-color: $secondary;
  border: 10px solid $index-color;
  border-radius: 30px;
  color: $font-color;
  display: block;
  height: 50px;
}

.start-game {
  justify-content: center;
}

.game-grid {
  align-items: center;
  background: $body-bg-color;
  background-color: $secondary;
  border: 10px solid $border-color;
  border-radius: 50px;
  color: $font-color;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 600px;
}

.game-spots {
  background: $index-color;
  border-radius: 30px;
  cursor: pointer;
  height: 160px;
  width: 160px;
}

h1 {
  text-align: center;
}

.spot-image {
  height: inherit;
}
